.news-section-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.news-section-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.news-section-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.news-section-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.news-section-container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-section-root-class-name {
  width: 80%;
  height: auto;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(157, 171, 226, 0.21);
}
@media(max-width: 1600px) {
  .news-section-container {
    height: auto;
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .news-section-root-class-name {
    width: 80%;
  }
}
@media(max-width: 991px) {
  .news-section-blog {
    flex-direction: column;
  }
  .news-section-container1 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .news-section-container2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .news-section-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .news-section-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
